@charset "utf-8";
/* CSS Document */

body {font-weight: 400;color: rgb(94, 94, 94); font-family: "微软雅黑",宋体,roboto,Arial; font-size: 13px;  line-height: 1.42857; background-color: rgb(249, 249, 249);}
a {color: #2196f3;text-decoration: none;}
a:hover{color: #2196f3;text-decoration: none;}
*, *:active, *:hover { outline: medium none !important;}
p { margin-bottom: 20px;}
.no-shadow{ box-shadow:none !important;}
.btn-primary { background-color: #2196f3; border-color: #0d8aee; color: #ffffff !important;}
.m-t-5 { margin-top: 5px !important;}
.m-r-10{ margin-right: 10px !important;}
.m-l-15 { margin-left: 15px !important;}
.m-t-15 { margin-top: 15px !important;}
.p-0{ padding:0 !important;}
.p-t-0{ padding-top:0 !important;}
.p-t-10{ padding-top:10px !important;}
.p-t-20{ padding-top:20px !important;}
.p-l-20{ padding-left:20px !important;}
.p-b-0{ padding-bottom:0 !important;}
.bgm-orange{ background:#FF9800; color:#fff !important;}
.bgm-green{ background:#4CAF50; color:#fff !important;}
.top-nav{-moz-user-select: none; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);left: 0; min-height: 70px; padding: 0 16px; position: fixed; top: 0; width: 100%; z-index: 21;background-color: #2196f3;}
.header-inner { list-style: outside none none; margin-bottom: 0; padding: 17px 0; position: relative;}
svg{margin: 0px 18px -13px 7px;}

#menu-trigger::before { background: rgba(255, 255, 255, 0.22) none repeat scroll 0 0; border-radius: 50%; content: ""; height: 45px; left: 7px; position: absolute; top: 13px; transform: scale(0); transition: all 300ms ease 0s;
 width: 45px; z-index: 0;}
 #menu-trigger .line-wrap .line { background-color: #fff;}
 .line-wrap .line.center { margin: 3px 0;}
.line-wrap { height: 12px; margin: 12px 20px; transition: all 300ms ease 0s; width: 18px;}
.line-wrap .line { height: 2px; transition: all 300ms ease 0s; width: 18px;}
.open .line-wrap .line.top {transform: translateX(8px) translateY(1px) rotate(45deg); width: 12px;}
.line-wrap .line.center { margin: 3px 0;}
#chat.toggled {right: 0;}
#chat { padding: 20px 0; right: -300px; width: 280px;}
#chat .chat-search { padding: 20px 20px 15px;}
#chat .chat-search .form-control { background-image: url("../img/search-2.png");  background-position: left center;  background-repeat: no-repeat;padding-left: 30px; transition: all 300ms ease 0s;}
.open .line-wrap .line.bottom { transform: translateX(8px) translateY(-1px) rotate(-45deg); width: 12px;}
#menu-trigger.open::before {transform: scale(1);}
.open .line-wrap { transform: rotate(180deg);}
#sidebar.toggled { transform: translate3d(0px, 0px, 0px);}
#sidebar {transform: translate3d(-268px, 0px, 0px); width: 268px;}
.sidebar.toggled { opacity: 1;}
.sidebar { background: #fff none repeat scroll 0 0; box-shadow: 0 0 10px rgba(51, 51, 51, 0.38); height: calc(100% - 65px); opacity: 0; overflow-y: auto; position: fixed; top: 65px; transition: all 300ms ease 0s; z-index: 20;}
.mCustomScrollBox { direction: ltr; height: 100%; max-width: 100%; outline: 0 none; overflow: hidden; position: relative;left: 0; position: relative; top: 0; width: 100%;}
.profile-menu > a {display: block; height: 129px; margin-bottom: 5px; width: 100%;}
.profile-menu > a .profile-pic { padding: 12px;}
.profile-menu > a .profile-pic > img { border: 3px solid rgba(0, 0, 0, 0.14); border-radius: 50%; box-sizing: content-box; height: 47px; width: 47px; background: #fff;}
.profile-menu > a .profile-info { background: rgba(0, 0, 0, 0.37) none repeat scroll 0 0; color: #fff; margin-top: 20px; padding: 7px 14px; position: relative;}
.profile-menu > a .profile-info > i {font-size: 14px;line-height: 100%; position: absolute; right: 15px; top: 7px; transition: all 300ms ease 0s;}
.profile-menu .main-menu { border-bottom: 1px solid #e6e6e6; display: none; margin: 0;}
.main-menu {list-style: outside none none; margin: 20px 0 0; padding-left: 0;}
.main-menu > li > a > i { font-size: 16px; left: 16px; padding: 16px 0; position: absolute; text-align: center; top: 0; width: 25px;}
.main-menu > li > a {color: #4c4c4c; display: block; font-weight: 500; padding: 14px 20px 14px 52px; position: relative;}
#main { padding-bottom: 110px; padding-top: 90px; position: relative;}
#menu-trigger { cursor: pointer; height: 35px; width: 65px;}
.top-menu { list-style: outside none none; padding: 0;}
.top-menu > li:not(#toggle-width)::before { backface-visibility: hidden; background-color: rgba(0, 0, 0, 0.12); border-radius: 2px; content: ""; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; transform: scale3d(0, 0, 0); transition: all 250ms ease 0s; width: 100%; z-index: 0;}
.top-menu > li:not(#toggle-width) { position: relative;}
.top-menu > li { display: inline-block; margin: 0 7px; min-width: 35px; vertical-align: middle;}
.top-menu > li > a { color: #fff; display: block; position: relative; text-align: center; z-index: 1;}
.top-menu > li > a > .tm-icon { font-size: 24px; line-height: 36px;}
.top-menu > li:not(#toggle-width):hover:before, .top-menu > li:not(#toggle-width).open:before { -webkit-transform: scale3d(1, 1, 1); -moz-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); -o-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1; filter: alpha(opacity=100);padding:15px 25px;margin:-5px -7px;}
.top-menu > li > a > .tmn-counts { background: #f44336 none repeat scroll 0 0; border-radius: 2px; font-size: 10px; font-style: normal; line-height: 15px; padding: 1px 5px; position: absolute; right: 7px; top: -3px;}
.top-menu > li:not(#toggle-width)::before { backface-visibility: hidden; background-color: rgba(0, 0, 0, 0.12); border-radius: 2px; content: ""; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; transform: scale3d(0, 0, 0); transition: all 250ms ease 0s; width: 100%; z-index: 0;}
.top-menu > li > a { color: #fff; display: block; position: relative; text-align: center; z-index: 1; font-size:18px;}
.user { background: #fff none repeat scroll 0 0; border-radius: 50%; cursor: pointer; padding: 1px; position: relative; z-index: 1;}
.user img { border-radius: 50%;}
.login-register { line-height: 36px; padding: 0 10px;}
.dropdown .dropdown-menu.pull-right:not([data-animation]), .bootstrap-select .dropdown-menu.pull-right:not([data-animation]), .btn-group .dropdown-menu.pull-right:not([data-animation]), .dropdown .dropdown-menu.dropdown-menu-right:not([data-animation]), .bootstrap-select .dropdown-menu.dropdown-menu-right:not([data-animation]), .btn-group .dropdown-menu.dropdown-menu-right:not([data-animation]) {
    transform-origin: right top 0;
}
.dropdown:not([data-animation]) .dropdown-menu, .btn-group:not([data-animation]) .dropdown-menu { display: block; opacity: 0; transform: scale(0);}
.dropdown.open .dropdown-menu:not([data-animation]), .dropup.open .dropdown-menu:not([data-animation]), .bootstrap-select.open .dropdown-menu:not([data-animation]), .btn-group.open .dropdown-menu:not([data-animation]) {
    opacity: 1; transform: scale(1);}
.top-menu > li .dropdown-menu-lg { padding: 0;}
.dropdown-menu.dropdown-menu-lg { width: 300px;}
.open > .dropdown-menu { display: block;}
.dropdown-menu.pull-right {left: auto; right: 0;}
.dropdown-menu { box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); transition: all 250ms ease 0s;}
.lv-header { border-bottom: 1px solid #f0f0f0; color: #4c4c4c; font-weight: 500; line-height: 100%; margin-bottom: 10px; padding: 15px 10px 13px; text-align: center; text-transform: uppercase;}
.lv-header .actions { position: absolute; right: 8px; top: 6px; z-index: 10;}
#notifications .lv-body { overflow-x: hidden;}
.top-menu > li .dropdown-menu-lg .lv-body { min-height: 295px; overflow-x: hidden;}
.lv-footer { border-top: 1px solid #f0f0f0; color: #828282; display: block; font-size: 11px; line-height: 100%; margin-top: 20px; padding: 7px 10px 8px; text-align: center;}
#notifications .lv-body { overflow-x: hidden;}
.myInfo { padding: 12px 12px 12px 115px; position: relative;}
.myphoto { font-size: 12px; height: 96px; left: 8px; line-height: 20px; position: absolute; top: 12px; width: 96px;}
.userhead { border-radius: 50%; height: 96px; overflow: hidden; position: relative; width: 96px;}
.userhead img { border-radius: 50%;}
.userhead a{ display:block;}
.change-userhead { background: rgba(0, 0, 0, 0.54) none repeat scroll 0 0; bottom: 0; color: #fff; font-size: 9px; font-weight: bold; left: 0; line-height: 9px; padding: 7px 0; position: absolute; text-align: center; width: 96px;}
.myname { color: #000; font-weight: bold; word-break: break-all;}
.Email { color: #666;  word-break: break-all;}
.signature { color: #a9a9a9; margin-bottom: 10px;  min-height: 20px; word-break: break-all;}
.open .btn { outline: medium none !important;}



.header-inner > li:not(:last-child) {margin-right: -2px;}
.header-inner > li:not(.pull-right) {float: left;}
.logo a {color: #fff; font-size: 16px; text-transform: uppercase;}

.search-toggled #top-search-wrap { opacity: 1; top: 0;}
#top-search-wrap { background: #fff none repeat scroll 0 0; height: 70px; left: 0; opacity: 0;  position: absolute; top: -65px; transition: all 300ms ease 0s; width: 100%; z-index: 10;}
.tsw-inner { display: block; margin: 0 auto; max-width: 700px;  padding: 15px; position: relative;}
#top-search-wrap #top-search-close { border-radius: 2px 0 0 2px; cursor: pointer;font-size: 23px; font-style: normal; height: 40px; left: 15px; padding-top: 11px; position: absolute; text-align: center; top: 15px; width: 45px;font-size:16px;}
#top-search-wrap input[type="text"] { background-color: #efefef; border: 0 none; border-radius: 2px; font-size: 18px; height: 40px; padding: 0 10px 0 55px; width: 100%;}
.profile-menu.toggled .profile-info > i { transform: rotate(180deg);}
#notifications{position: relative !important;}


#footer { text-align: center; width: 100%; color: #a2a2a2;margin-top: 30px;}
#footer .f-menu { display: block; width: 100%; padding-left: 0; list-style: none;  margin-left: -5px; margin-top: 8px;}
#footer .f-menu > li { display: inline-block; padding-left: 5px; padding-right: 5px;}
#footer .f-menu > li > a { color: #a2a2a2;}
#footer .f-menu > li > a:hover { color: #777;}

/*小发布框*/
.card-tip > a { color: #555; cursor: pointer;}
.card-tip .actions { display: inline-block; position: absolute; right: 15px; top: 15px; width:35px; height:35px; text-align:center; line-height:30px; text-align:center;}
.actions > li { display: inline-block;  vertical-align: baseline;}
.card .card-body.card-padding { padding: 23px 26px;}
.wp-text {border: 0 none; display: block; padding: 0; resize: none; width: 100%;}
.wpb-actions { background: #f7f7f7 none repeat scroll 0 0; margin: 0; padding: 10px 20px;}
.wpb-actions > li:not(.pull-right) { float: left;}
.list-inline { list-style: outside none none; margin-left: -5px; padding-left: 0;}
.wpba-attrs > ul > li > a { display: block; width: 22px;}
.dialog_photos { color: #848484; font-size: 18px; width: 35px; display: inline-block; height: 30px;transform: translateY(3px);line-height: 30px;}
.lvh-label { color: #818181; display: inline-block; font-size: 14px; font-weight: normal; line-height: 33px; margin: 0; padding: 0 6px; vertical-align: middle;}
.lv-avatar { border-radius: 50%; color: #fff; font-size: 15px; height: 35px; line-height: 34px; margin-right: 15px; padding: 0 !important; text-align: center; text-transform: uppercase; width: 35px;}
.lv-avatar > img { border-radius: 50%; height: 35px; vertical-align: top; width: 35px;}
.c-black { color: #000000 !important;}
.no-comment{}
.no-comment > li > a{ padding:0 !important; height:35px !important; width:35px !important; line-height:42px !important;}
.no-comment > li > a i{ color:#848484 !important; font-size:18px;}
.full-input i{ font-size:24px !important;}

/*翻页*/
.pagination {
    border-radius: 2px;
    display: inline-block;
    margin: 50px 0 18px;
    padding-left: 0;
}
.pagination > li {
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
}
.card .card-body .text-center ul li a {
    padding: 9px 12px;
}
.pagination > li > a, .pagination > li > span {
    background-color: #e2e2e2;
    border: 1px solid #ffffff;
    border-radius: 50% !important;
    color: #7e7e7e;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 9px 12px;

    position: relative;
    text-align: center;
    text-decoration: none;
    width: 40px;
    z-index: 1;
}

/*大发布框*/
.form-photolist { margin: 0; padding: 0;}
.formCard{ margin-bottom:60px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);}
.radio label, label.radio-inline{ font-size:14px !important; padding-left:35px !important;}

/*card*/
.card{ background: #fff none repeat scroll 0 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); margin-bottom: 30px; position: relative;}
.card .card-header:not(.ch-alt) { padding: 23px 25px;}
.card .card-header { position: relative;}
.actions {  list-style: outside none none;  margin: 0; padding: 0;  z-index: 3;}
.actions.right-menu { position: absolute; right: 15px; top: 10px; z-index: 2;}
.card .card-header .actions { position: absolute; right: 15px; top: 15px; z-index: 2;}
.media-left, .media-right, .media-body { display: table-cell; vertical-align: top;}
.info-card {  right: 15px !important;}
.lv-img { height: 48px; width: 48px;}
[class*="lv-img"] { border-radius: 50%;}
.media-body { display: block; width: auto;}
.card .card-header h2 { font-size: 17px; font-weight: 400; line-height: 100%; margin: 0; display: inline-block;}
.home-way { color: #333;}
.card .card-header h2 small { color: #aeaeae; display: block; line-height: 160%; margin-top: 8px;}
.card-header:not(.ch-alt):not([class*="bgm-"]) + .card-padding { padding-top: 0;}
.card .card-body.card-padding { padding: 23px 26px;}
.Jcontent { height: 93px !important; margin-bottom: 10px; overflow: hidden;}
.actions > li > a::before, .actions > a::before { backface-visibility: hidden; background-color: rgba(0, 0, 0, 0.1); border-radius: 50%; content: ""; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; transform: scale3d(0, 0, 0);  transition: all 250ms ease 0s;  width: 100%;  z-index: 0;}
.actions > li > a, .actions > a { display: inline-block; height: 30px; padding-top: 8px; text-align: center; width: 30px; border-radius:50%;}
.actions > li > a > i, .actions > a > i {font-size: 16px;}
.actions > li > a:hover{ background:none;}
.actions > li > a:hover:before,
.actions > a:hover:before,
.actions > li > a.open:before,
/*.actions > a.open:before {  -webkit-transform: scale3d(1, 1, 1);-moz-transform: scale3d(1, 1, 1); -ms-transform: scale3d(1, 1, 1); -o-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); opacity: 1; filter: alpha(opacity=100);}*/
.card .card-header:not(.ch-alt) { padding: 23px 25px;}
.panelBody { padding: 25px 20px;}
.close-upload { cursor: pointer; font-size: 20px; height: 40px; line-height: 40px; position: absolute; right: 5px; text-align: center !important; top: 5px; width: 40px !important;}
.form-group .control-label{ font-size:12px !important;}
.form-group .form-control::-moz-placeholder{ font-size:12px;}
.checkbox, .radio{ margin-top:0;}
.comment-ul{ margin-bottom:0;}
.comment-ul > li{ padding-bottom:10px;}
.word .icon i { position: absolute; top: 8px; transition: all 300ms ease 0s;}
.com.active .word .icon i { transform: rotate(180deg);}
.comment-ul li .time { color: #999;}
.comment-ul li .name a{ color: #404040; display: block; font-size: 13px; font-weight: bold; margin-right: 8px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*搜索框*/
.lvh-search {
    background: #fff none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}
.lvhs-input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #eee;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-size: 18px;
    font-weight: 100;
    height: 63px;
    padding: 0 26px 0 55px;
    width: 100%;
}
.lvh-search::before {
    content: "";
    font-family: "Material-Design-Iconic-Font";
    font-size: 22px;
    left: 24px;
    position: absolute;
    top: 17px;
}
.lvh-search-close {
    background-color: #adadad;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-style: normal;
    height: 18px;
    line-height: 100%;
    position: absolute;
    right: 22px;
    text-align: center;
    top: 23px;
    width: 18px;
}


/*图片上传*/
.tab-nav {
    box-shadow: 0 -2px 0 0 #eeeeee inset;
    list-style: outside none none;
    margin: 0;
    overflow: auto;
    padding: 0;
    white-space: nowrap;
    width: 100%;
}
.upload-photo .tab-nav.tn-justified > li {
    width: auto;
	display: table-cell;
    text-align: center;
	vertical-align: top;
}
.upload-photo .tab-nav li > a {
    height: 55px;
	color: #000;
	display: inline-block;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    transition: all 250ms ease 0s;
    width: 100%;
	padding: 15px;
}
.tab-nav:not([data-tab-color]) > li > a::after {
    background: #2196f3 none repeat scroll 0 0;
}
.tab-nav li.active > a::after {
    transform: scale(1);
}
.tab-nav li > a::after {
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scale(0);
    transition: all 250ms ease 0s;
    width: 100%;
}
.close-upload {
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 5px;
    text-align: center !important;
    top: 5px;
    width: 40px !important;
}
.close-upload:{ color:#2196f3;}
.upload-button {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #aaa;
    cursor: pointer;
    display: table;
    font-size: 16px;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in 0s;
    width: 100%;
}
.upload-button .plus-icon {
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.upload-button .plus {
    display: table-cell;
    vertical-align: middle;
}

.pictureinput {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 19;
}
.upload-button .plus img {
    width: 100%;
}
.upload-button i {
    border: 3px solid #aaa;
    border-radius: 50%;
    font-size: 60px;
    height: 60px;
    line-height: 56px;
    margin-bottom: 10px;
    width: 60px;
}
.upload-button .plus-icon span {
    display: block;
}
.upload-photo .lightbox .lightbox-item::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.upload-photo .lightbox .lightbox-item {
    position: relative;
}
#previews .lightbox-item {
    position: relative;
}
.img-detail {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
}
.img-detail span {
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
/*card-img*/
.wall-img-preview { margin: 0 -23px 20px;}
.wall-img-preview {text-align: center;}
.wall-img-preview .wip-item {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.wall-img-preview .wip-item > img {
  display: none;
}

.wall-img-preview .wip-item:first-child:nth-last-child(2),
.wall-img-preview .wip-item:first-child:nth-last-child(2) ~ div {
  width: 50%;
  padding-bottom: 40%;
}

.wall-img-preview .wip-item:first-child:nth-last-child(3),
.wall-img-preview .wip-item:first-child:nth-last-child(3) ~ div,
.wall-img-preview .wip-item:first-child:nth-last-child(4),
.wall-img-preview .wip-item:first-child:nth-last-child(4) ~ div:not(:last-child),
.wall-img-preview .wip-item:first-child:nth-last-child(5),
.wall-img-preview .wip-item:first-child:nth-last-child(5) ~ div:not( :nth-last-of-type(-n+2)),
.wall-img-preview .wip-item:first-child:nth-last-child(6),
.wall-img-preview .wip-item:first-child:nth-last-child(6) ~ div,
.wall-img-preview .wip-item:first-child:nth-last-child(7) ~ div:nth-last-of-type(-n+3) {
  width: 33.333333%;
  padding-bottom: 30%;
}

.wall-img-preview .wip-item:first-child:nth-last-child(5) ~ div:nth-last-of-type(-n+2) {
  width: 50%;
  padding-bottom: 40%;
}

.wall-img-preview .wip-item:first-child:nth-last-child(7),
.wall-img-preview .wip-item:first-child:nth-last-child(7) ~ div:not( :nth-last-of-type(-n+3)),
.wall-img-preview .wip-item:first-child:nth-last-child(n+8),
.wall-img-preview .wip-item:first-child:nth-last-child(n+8) ~ div {
  width: 25%;
  padding-bottom: 22%;
}

.wall-img-preview .wip-item:only-child,
.wall-img-preview .wip-item:first-child:nth-last-child(4) ~ div:nth-child(4) {
  width: 100%;
  padding-bottom: 50%;
}

.list-inline { list-style: outside none none;  margin-left: -5px; padding-left: 0;}
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px;}
.wa-users { float: right; margin-right: -5px; padding: 0 !important;}
.wa-stats { float: left;}
.wa-stats > span:first-child { border-radius: 2px 0 0 2px;}
.wa-stats > span { border: 1px solid #e0e0e0; float: left; font-weight: 500; margin-right: -1px; padding: 7px 12px;}
.wall-comment-list { background: #f7f7f7 none repeat scroll 0 0; padding: 20px;}

.word {cursor: pointer; margin-bottom: 15px;}
.word .icon {color: #777; font-size: 20px; margin-left: 10px; position: relative;}
.word .icon i { position: absolute; top: 8px; transition: all 300ms ease 0s;}
.wcl-list + .wcl-form {margin-top: 25px;}
.wcc-inner { background: #fff none repeat scroll 0 0; border: 1px solid #e4e4e4; border-radius: 2px; color: #9a9a9a; cursor: text; padding: 10px 15px; resize: none;}
.comment-form { display: none; padding-left: 45px;}
.userimage { float: left; margin-left: -38px;}
.comment-form textarea { border: 1px solid #ddd; height: 60px; margin-bottom: 0; margin-top: 0; resize: none;width: 100%;}
.score {display: table; margin-top: 8px;}
.btn:not(.btn-link) { box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);}
.waves-effect { -moz-user-select: none; cursor: pointer;display: inline-block;overflow: hidden;position: relative;}
.btn-primary {background-color: #2196f3; border-color: #0d8aee; color: #ffffff;}
.btn { -moz-user-select: none; background-image: none; border-radius: 2px; cursor: pointer; display: inline-block; font-size: 13px; font-weight: 400; line-height: 1.42857; margin-bottom: 0;   padding: 6px 12px !important;text-align: center; vertical-align: middle; white-space: nowrap; text-transform: uppercase; margin:0; padding:5px 10px;}

.lv-header-alt {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 15px;
    position: relative;
}
.lvh-label {
    color: #818181;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 33px;
    margin: 0;
    padding: 0 6px;
    vertical-align: middle;
}


/*圆按钮*/
#main .home-add{
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    right: 15px;
    bottom: 20px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    background-color: #f44336;
    border: 0;
    outline: none;
    font-size: 23px;
    z-index: 999;
}
#main .home-add i{transition: all 500ms ease 0s;}
#main .home-add:hover i{ transform: rotate(360deg);}


.estate.green{ color:green;}


.chapter-title {
    background: #f7f7f7 none repeat scroll 0 0;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    padding: 0 80px 0 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.new-chapter{
 	background: #f7f7f7 none repeat scroll 0 0;
    border-top: 1px solid #eee;
    height: 55px;
    line-height: 51px;
    padding: 0 20px;
	display:none;
}
.create-chapter {
    position: absolute;
    right: 15px;
    top: 2px;
    z-index: 2;
}
.jstree-node > a.jstree-anchor{height: 35px; line-height: 35px;width: calc(100% - 24px); overflow: hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; }
.jstree-node > a.jstree-anchor i{ transform:translateY(5px);}
.jstree-node .jstree-ocl{ transform:translateY(5px);}
.jstree-default .jstree-wholerow{ height:35px !important;}
.jstree > .jstree-children, .jstree-container-ul{padding: 0 15px !important;max-width: 100%;}


.chapter-menu > li > a { color: #fff; padding: 0 22px 0 12px; font-size:17px;position: relative;background: rgba(0, 0, 0, 0.08);}
.chapter-menu > li > a:hover {background: rgba(0, 0, 0, 0.3);}
.course-name { background: transparent;  display: block; max-width: 200px; overflow: hidden; text-overflow: ellipsis;  white-space: nowrap;}
.chapter-menu .dropdown-menu { border-color: #fff;}
.course-name i { font-size: 20px; margin-top: -8px; position: absolute; right: 8px; top: 50%;}
.bp-header .header-inner{ padding:0;}

.card-header .media,  .card-header .media-body{overflow: inherit !important;}
.card-header .banner-info{ padding-left:70px;}
.banner-header .chapter-menu{ background: transparent; height: 30px; line-height: 30px; padding:0; margin:0;}
.chapter-menu li { list-style: outside none none;}
.banner-bg{height: 160px;overflow: hidden;position: absolute; top: 0}
.lv-img-sm { height: 35px; width: 35px;}
.star .rating-container { display: inline-block;}

.belong{background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.46));position: absolute; bottom: 0;width: 100%; color: #fff;height: 30px;line-height: 30px;padding: 0 20px;font-size: 12px; white-space:nowrap;
text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow: hidden; }
@media (min-width: 767px){
.bp-header .header-inner{ display: inline-block; vertical-align:top;}
.chapter-menu .dropdown-menu a{max-width: 158px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;cursor: pointer;}
}
@media (max-width: 767px){
.p-x-t-10{ padding-top:10px !important;}
.card .task-list{position: absolute; width: 100%;bottom: 0;top: 140px;overflow-y:auto }
.lv-actions button{ display:none;}
}








.card {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
    position: relative;
}
.cardTop {
    border-bottom: 0 none;
    color: #427fed;
    padding: 15px 20px 0;
}
.cardTop .cardTopTitle {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 11px;
    position: relative;
}
.cardTop .cardTopTitle .bar {
    padding-right: 16px;
    min-height: 18px;
}
.cardTop .cardTopTitle .bar a {
    color: #555;
    text-decoration: none;
}
.cardTop .cardTopTitle .bar .i {
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    color: #F44336;
}

.header {
    margin-bottom: 20px;
    padding: 0 20px;
    position: relative;
}
.header .face img {
    float: left;
    margin: 20px 15px 0 0;
    padding: 0;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}
.header .right {
    margin: 0 0 0px 61px;
    padding: 23px 0 0;
    text-overflow: ellipsis;
}
.header .right .userName {
    border: 0 none;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    unicode-bidi: normal;
}
.header .right .userName a {
    font-weight: bold;
    color: #262626;
    text-decoration: none !important;
}
.header .right .stateInfo {
    color: #999;
    display: inline-block;
    font-size: 12px;
}
.header .right .shareState {
    color: #999;
    display: inline-block;
    font-size: 12px;
    outline: medium none;
    text-decoration: none !important;
}
.content_card {
    padding: 0 20px 20px 20px;
}
.Jtext{padding:0 10px;font-size: 12px;}
.Jcontent {
    max-height: 61px;
    overflow: hidden;
}
.Jcontent .content-title {
    text-align: center;
    font-weight: 700;
	font-size:14px; 
}
.Jcontent .index-title {
    font-size: 14px !important;
    margin-bottom: 5px !important;
}
.actionBlock {
    padding: 0 20px 8px;
    margin: 0;
    text-align: left;
}
.praise {
    background-color: #fff;
    background-image: none;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    margin-left: 8px;
    outline: medium none;
    padding: 0 10px;
    transition: background-color 0.218s ease 0s, border-color 0.218s ease 0s, box-shadow 0.218s ease 0s;
    width: auto;
}
.line {
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
	padding-right: 14px;
    line-height: 12px;
}
.add {
    display: inline-block;
    height: 8px;
    margin-bottom: 1px;
    margin-right: 2px;
    width: 8px;
}
.comment {
    background-color: #f5f5f5;
    border-radius: 0 0 2px 2px;
}
.comment .borderTop {
    border-top: 1px solid #e5e5e5;
    padding-bottom: 16px;
}
.comment .commentNum {
    background-color: #f5f5f5;
    border-bottom: medium none;
    border-top: medium none;
    margin: 0 20px 12px;
    padding: 0;
}
.comment .com {
    background-color: #f5f5f5;
    color: #262626;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    height: 25px;
    line-height: 25px;
}
.word {
    color: #262626;
}
.comment .com .icon {
    background-color: #f5f5f5;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
    transform: translateY(3px);
}
.comment .com .icon i {
    font-size: 14px;
    line-height: 1.3;
    opacity: 0.7;
}
.commentBox {
    margin: 0 20px;
    padding: 0 0 20px;
}
.commentBox .box, .commentBoxFull .box {
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #999;
    cursor: text;
    font-size: 12px;
    height: auto;
    margin: 0;
    padding: 6px 8px;
}
.pagination i {
    font-size: 20px;
}
.communityName {
    font-size: 20px;
    margin-bottom: 6px;
}
.communityName a {
  display: block;
  font-size: 16px;
  line-height: 20px;
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #262626;
}
.communityInfo {
    color: #aaa;
    font-size: 12px;
    height: 36px;
    overflow: hidden;
}