<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/images/ys2.png">
    <title>首页 - NASA4</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
    th:href="@{/css/bootstrap.min.css}">
    <link href="../static/css/material-icons.css" rel="stylesheet"
    th:href="@{/css/material-icons.css}">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link href="../static/css/base.css" rel="stylesheet"
    th:href="@{/css/base.css}">
<link href="../static/css/info_detail.css" rel="stylesheet"
    th:href="@{/css/info_detail.css}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="header">
      <div class="drawer_button"><i class="material-icons">menu</i></div>
      <div class="layout_header-row">
        <div class="logo"><img class="ys" src="../static/images/ys.png" th:src="@{/images/ys.png}"><a href="#">NASA4</a>
          </div>
        <ul class="top-menu">  
          <li class="mitem">
          <a class="add-ys " href="../templates/input.html" th:href="@{/input}"><i class="material-icons">add</i></a>
        </li>
          <li class="mitem">
            <a class="mitema" href="javascript:void(0);" id="top-search"><i class="material-icons">search</i></a>
            <div id="top-search-wrap">
              <div class="tsw-inner">
                <i id="top-search-close" class="material-icons">search</i>
                <form><input type="text" name="keyword"></form>
              </div>
            </div>
          </li>
          <li class="mitem has-feedback hidden-xs">
            <a class="mitema" id="notifications" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">notifications</i>
            </a>
          </li>
          <!-- <li class="mitem"><a class="mitema" href="javascript:void(0);"><i class="material-icons">comment</i></a></li> -->
          <li class="mitem" th:if="${sessionUser?.id == null}"><a class="mitema" href="javascript:void(0);" th:href="@{/login}"><span>登录/注册</span></a></li><!-- 未登录 -->
          <li class="mitem has-feedback" th:if="${sessionUser?.id != null}"><!-- 已登录 -->
            <a class="mitema" id="top-thisuse" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../static/images/face14.png" th:src="@{/images/face14.png}" alt="" class="header_userimg"/>
            </a>
            <div class="dropdown-menu dropright dropdown-menu-lg" aria-labelledby="top-thisuse">
              <div id="notifications" class="listview">
                <div class="lv-header"> 个人信息 </div>
                <div class="lv-body" style="min-height: initial;">
                  <div class="myInfo">
                    <div class="myphoto">
                      <div class="userhead" data-type="update_avatar">
                        <a href="#" style="display:block;"> 
                          <img src="../static/images/face14.png" th:src="@{/images/face14.png}" alt="" width="96px;" height="96px;" /> 
                          <span class="change-userhead">更改</span> 
                        </a> 
                      </div>
                    </div>
                    <div class="myshow">
                      <div class="myname">用户</div>
                      <div class="Email">123456@qq.com</div>
                      <div class="signature">这是个性签名</div>

                      <a href="#" class="btn btn-primary">我的账户</a>
                      <a href="#" class="btn btn-default">设置</a>
                    </div>
                  </div>
                </div>
                <a href="javascript:void(0);" th:href="@{/logout (reload=${url})}" class="lv-footer m-t-10 loginOut" id="JLogout">退出</a> 
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="layout_drawer"><!--左侧滑-->
      <ul class="drawer-menu">
        <li class="on"><a href="#"><i class="material-icons">home</i>首页</a></li>
        <li><a href="#"><i class="material-icons">description</i>专栏</a></li>
        <li><a href="#"><i class="material-icons">photo</i>收藏集</a></li>
        <li><a href="#"><i class="material-icons">open_with</i>开源库</a></li>
        <hr>
        <li><a href="#"><i class="material-icons">star</i>我关注的</a></li>
        <li><a href="#"><i class="material-icons">desktop_mac</i>前端</a></li>
       <li><a href="#"><i class="material-icons">palette</i>设计</a></li>
        <li><a href="#"><i class="material-icons">poll</i>产品</a></li>
      </ul>
    </div>
    <div class="layout_obfuscator"></div><!--左侧滑时的蒙板-->

    <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
<div class="ys-left-img">
 <img  class="ye-img"src="../static/images/face14.png" th:src="@{/images/face14.png}">
 <span class="ya-write"><a href="../templates/input.html" th:href="@{/input}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>写文章</a></span>
 <span class="ya-ace"><a href="javascript:void(0);"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>分享链接</a></span>
 <a href="javascript:void(0);"><span class="ya-right">草稿</span></a>
</div>
<div class="ys-body">
 <span class="ya-write okk"><a href="javascript:void(0);">热门</a></span>
 <span class="ya-ace woo"><a href="javascript:void(0);">最新</a></span>
 <span class="ya-ace woo"><a href="javascript:void(0);">评论</a></span>
 <span class="ya-ace woo riggt"><a href="javascript:void(0);">本周最热</a></span>
 <span class="ya-ace woo riggt"><a href="javascript:void(0);">本月最热</a></span>
 <span class="ya-ace woo riggt"><a href="javascript:void(0);">历史最热</a></span>

</div>
      <div class="ys-body-weeo">
            <div class="info_detail container">
      <div class="row">
        <div class="col-md-12">
          <div class="lv-header-alt clearfix">
            <div class="lvh-label">
              <a href="../templates/show.html" th:href="@{/show}" class="doqqu"><strong>公开课 #1：React 16 新特性尝鲜【第1节】</strong></a>
              <div class="author">
                <div class="img-div"><img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt=""></div>
                <a href="#">AAA</a>
                <em>发布于</em><span>2017-03-04</span>
                <em>来自</em><span>王世均</span>
                <em></em><span>公开分享</span>
              </div>
            </div>
            <div class="detailMenu">
              <ul class="actions right-menu">
                <li class="dropdown action-show"><a href="#" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" title="该信息的详情">该信息的详情</a></li>
                    <li><a href="" title="删除">删除</a></li>
                    <li><a href="" title="修改">修改</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-contant">
              <div class="card-body card-padding">
                <div name="infobody" class="Jcontent">
                    <p class="Jtext"></p>
                    <p class="writing">
                       React 16 的发布除开源许可证和 Fiber 机制全面开启之外，还为我们提供了部分非常强大的新特性，本视频教程将通过实例带你探索这些新特性，从 Error Boundary 到 Text Only Component，再到 Portal，共 6 小节，19 分钟，每个小节实例讲解一个新特性，在讲解新特性基本用法的同时会介绍新特性的最佳实践。学完本视频教程，你将能熟练把诸如 Error Boundary，Portal 等特性运用到你的实际项目中来提高开发效率和代码质量，做到与时俱进。 
                    </p><span><img class="ys-staic" src="../static/images/banner.jpg" th:src="@{/images/banner.jpg}"></span>
                    <p></p>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                  <li class="wa-stats"> <span><i class="material-icons">favorite</i> 0</span> <span data-type="info" title="我喜欢" name="Jilike" class="direction">
                    <i class="material-icons reply">reply</i> 0</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
         <div class="col-md-12">
          <div class="lv-header-alt clearfix">
            <div class="lvh-label">
              <a href="../templates/show.html" th:href="@{/show}" class="doqqu"><strong>关注我就能达到大师级水平，这话我终于敢说了</strong></a>
              <div class="author">
                <div class="img-div"><img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt=""></div>
                <a href="#">AAA</a>
                <em>发布于</em><span>2017-03-04</span>
                <em>来自</em><span>任务线</span>
                <em></em><span>公开分享</span>
              </div>
            </div>
            <div class="detailMenu">
              <ul class="actions right-menu">
                <li class="dropdown action-show"><a href="#" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" title="该信息的详情">该信息的详情</a></li>
                    <li><a href="" title="删除">删除</a></li>
                    <li><a href="" title="修改">修改</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-contant">
              <div class="card-body card-padding">
                <div name="infobody" class="Jcontent">
                    <p class="Jtext"></p>
                    <p class="writing">
                      关注我的人都知道，我这三个多月来一直在网上分享关于 Android 自定义绘制的技术，并且在一周多前举办了一场线上的「仿写酷应用」活动，让我的粉丝仿写即刻、薄荷健康、小米运动、Flipboard 这四个软件中的几个经典效果，来自我验证一下这三个月来的学习成果。
简单地说，这事儿很成功（脸红）。
                    </p><span><img class="ys-staic" src="../static/images/banner3.jpeg" th:src="@{/images/banner3.jpeg}"></span>       
                    <p></p>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                  <li class="wa-stats"> <span><i class="material-icons">favorite</i> 0</span> <span data-type="info" title="我喜欢" name="Jilike" class="direction">
                    <i class="material-icons reply">reply</i> 0</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-12">
          <div class="lv-header-alt clearfix">
            <div class="lvh-label">
              <a href="../templates/show.html" th:href="@{/show}" class="doqqu"><strong>Android RxJava：图文详解 变换操作符</strong></a>
              <div class="author">
                <div class="img-div"><img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt=""></div>
                <a href="#">AAA</a>
                <em>发布于</em><span>2017-03-04</span>
                <em>来自</em><span>NASA4</span>
                <em></em><span>公开分享</span>
              </div>
            </div>
            <div class="detailMenu">
              <ul class="actions right-menu">
                <li class="dropdown action-show"><a href="#" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" title="该信息的详情">该信息的详情</a></li>
                    <li><a href="" title="删除">删除</a></li>
                    <li><a href="" title="修改">修改</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-contant">
              <div class="card-body card-padding">
                <div name="infobody" class="Jcontent">
                    <p class="Jtext"></p>
                    <p class="writing">
                       RxJava如此受欢迎的原因，在于其提供了丰富 & 功能强大的操作符，几乎能完成所有的功能需求
今天，我将为大家详细介绍RxJava操作符中最常用的变换操作符，并附带 Retrofit 结合 RxJava的实例Demo教学，希望你们会喜欢。
                    </p><span><img class="ys-staic" src="../static/images/banner3.jpg" th:src="@{/images/banner3.jpg}"></span>       
                    <p></p>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                  <li class="wa-stats"> <span><i class="material-icons">favorite</i> 0</span> <span data-type="info" title="我喜欢" name="Jilike" class="direction">
                    <i class="material-icons reply">reply</i> 0</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-12">
          <div class="lv-header-alt clearfix">
            <div class="lvh-label">
              <a href="../templates/show.html" th:href="@{/show}" class="doqqu"><strong>某小公司RESTful、共用接口、前后端分离、接口约定的实践</strong></a>
              <div class="author">
                <div class="img-div"><img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt=""></div>
                <a href="#">AAA</a>
                <em>发布于</em><span>2017-03-04</span>
                <em>来自</em><span>NASA4</span>
                <em></em><span>公开分享</span>
              </div>
            </div>
            <div class="detailMenu">
              <ul class="actions right-menu">
                <li class="dropdown action-show"><a href="#" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" title="该信息的详情">该信息的详情</a></li>
                    <li><a href="" title="删除">删除</a></li>
                    <li><a href="" title="修改">修改</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-contant">
              <div class="card-body card-padding">
                <div name="infobody" class="Jcontent">
                    <p class="Jtext"></p>
                    <p class="writing">
                       随着互联网高速发展，公司对项目开发周期不断缩短，我们面对各种需求，使用原有对接方式，各端已经很难快速应对各种需求，更难以提高效率。于是，我们不得不重新制定对接规范、开发逻辑以便快速上线项目。
                    </p><span><img class="ys-staic" src="../static/images/banner4.jpeg" th:src="@{/images/banner4.jpeg}"></span>       
                    <p></p>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                  <li class="wa-stats"> <span><i class="material-icons">favorite</i> 0</span> <span data-type="info" title="我喜欢" name="Jilike" class="direction">
                    <i class="material-icons reply">reply</i> 0</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-12">
          <div class="lv-header-alt clearfix">
            <div class="lvh-label">
              <a href="../templates/show.html" th:href="@{/show}" class="doqqu"><strong>关注我就能达到大师级水平，这话我终于敢说了</strong></a>
              <div class="author">
                <div class="img-div"><img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt=""></div>
                <a href="#">AAA</a>
                <em>发布于</em><span>2017-03-04</span>
                <em>来自</em><span>任务线</span>
                <em></em><span>公开分享</span>
              </div>
            </div>
            <div class="detailMenu">
              <ul class="actions right-menu">
                <li class="dropdown action-show"><a href="#" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" title="该信息的详情">该信息的详情</a></li>
                    <li><a href="" title="删除">删除</a></li>
                    <li><a href="" title="修改">修改</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-contant">
              <div class="card-body card-padding">
                <div name="infobody" class="Jcontent">
                    <p class="Jtext"></p>
                    <p class="writing">
                      关注我的人都知道，我这三个多月来一直在网上分享关于 Android 自定义绘制的技术，并且在一周多前举办了一场线上的「仿写酷应用」活动，让我的粉丝仿写即刻、薄荷健康、小米运动、Flipboard 这四个软件中的几个经典效果，来自我验证一下这三个月来的学习成果。
简单地说，这事儿很成功（脸红）。
                    </p><span><img class="ys-staic" src="../static/images/banner6.jpg" th:src="@{/images/banner6.jpg}"></span>       
                    <p></p>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                  <li class="wa-stats"> <span><i class="material-icons">favorite</i> 0</span> <span data-type="info" title="我喜欢" name="Jilike" class="direction">
                    <i class="material-icons reply">reply</i> 0</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-12">
          <div class="lv-header-alt clearfix ysdupp">
            <div class="lvh-label">
              <a href="../templates/show.html" th:href="@{/show}" class="doqqu"><strong>Android RxJava：图文详解 变换操作符</strong></a>
              <div class="author">
                <div class="img-div"><img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt=""></div>
                <a href="#">AAA</a>
                <em>发布于</em><span>2017-03-04</span>
                <em>来自</em><span>NASA4</span>
                <em></em><span>公开分享</span>
              </div>
            </div>
            <div class="detailMenu">
              <ul class="actions right-menu">
                <li class="dropdown action-show"><a href="#" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="" title="该信息的详情">该信息的详情</a></li>
                    <li><a href="" title="删除">删除</a></li>
                    <li><a href="" title="修改">修改</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="card-contant">
              <div class="card-body card-padding">
                <div name="infobody" class="Jcontent">
                    <p class="Jtext"></p>
                    <p class="writing">
                       RxJava如此受欢迎的原因，在于其提供了丰富 & 功能强大的操作符，几乎能完成所有的功能需求
今天，我将为大家详细介绍RxJava操作符中最常用的变换操作符，并附带 Retrofit 结合 RxJava的实例Demo教学，希望你们会喜欢。
                    </p><span><img class="ys-staic" src="../static/images/banner3.jpg" th:src="@{/images/banner3.jpg}"></span>       
                    <p></p>
                </div>
                <ul class="wall-attrs clearfix list-inline list-unstyled">
                  <li class="wa-stats"> <span><i class="material-icons">favorite</i> 0</span> <span data-type="info" title="我喜欢" name="Jilike" class="direction">
                    <i class="material-icons reply">reply</i> 0</span> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
        </div>

      </div>

    </div>

      </div>
       <div class="col-md-12 text-center">
          <ul class="pagination">
            <li class="disabled">
              <a href="?page=1" aria-label="上一页">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
              </a>
            </li>
            <li class="active">
              <a href="?page=1">1
                <span class="sr-only">(current)</span>
              </a>
            </li>
              <li>
                <a href="?page=2">2</a>
            </li>
              <li><a href="?page=3">3</a>
            </li>
              <li><a href="?page=4">4</a>
            </li>
              <li><a href="?page=5">5</a>
            </li>
              <li><a href="?page=2" aria-label="下一页">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
    </div>
            </div>
            </div>

<div id="leftsead">
  <ul>
       <li>
      <a id="top_btn">
        <img src="../static/images/ll06.png" th:src="@{/images/ll06.png}" width="47" height="49" class="hides"/>
        <img src="../static/images/l06.png" th:src="@{/images/l06.png}" width="47" height="49" class="shows" />
      </a>
    </li>

    <li>
      <a href="">
        <img src="../static/images/ll03.png" th:src="@{/images/ll03.png}"  width="47" height="49" class="hides"/>
        <img src="../static/images/l03.png" th:src="@{/images/l03.png}" width="47" height="49" class="shows" />
      </a>
    </li>

    <li>
      <a href="">
          <img src="../static/images/ll02.png" th:src="@{/images/ll02.png}" width="166" height="49" class="hides"/>
        <img src="../static/images/l04.png" th:src="@{/images/l04.png}" width="47" height="49" class="shows" />
      </a>
    </li>

    <li>
      <a class="youhui">
        <img src="../static/images/l02.png" th:src="@{/images/l02.png}" width="47" height="49" class="shows" />
        <img src="../static/images/zfew.jpg" th:src="@{/images/zfew.jpg}" width="196" height="205" class="hides" usemap="#taklhtml"/>
      </a>
    </li>
  
  
  
  </ul>
</div>
    </div><!--main end-->

    <div class="footer">
      Copyright © 2017 NASA4.com
      <ul class="f-menu">

          <li><a href="#">首页</a></li>
          <li><a href="#">隐私权</a></li>
          <li><a href="#">服务条款</a></li>
          <li><a href="#">发送反馈</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">帮助</a></li>
          <li><a href="#">联系我们</a></li>
       </ul>
    </div>

    <!-- <div style="height:1000px;"></div> -->


    <script src="../static/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script type="text/javascript">
$(document).ready(function(){

  $("#leftsead a").hover(function(){
    if($(this).prop("className")=="youhui"){
      $(this).children("img.hides").show();
    }else{
      $(this).children("img.hides").show();
      $(this).children("img.shows").hide();
      $(this).children("img.hides").animate({marginRight:'0px'},'slow'); 
    }
  },function(){ 
    if($(this).prop("className")=="youhui"){
      $(this).children("img.hides").hide('slow');
    }else{
      $(this).children("img.hides").animate({marginRight:'-143px'},'slow',function(){$(this).hide();$(this).next("img.shows").show();});
    }
  });

  $("#top_btn").click(function(){if(scroll=="off") return;$("html,body").animate({scrollTop: 0}, 600);});

});
</script>
  </body>
</html>