<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head>
    <link rel="icon" type="image/x-icon" href="/images/ys2.png">
    <title>[[${note?.title}]] - NASA4</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet"
    th:href="@{/css/bootstrap.min.css}">
<link href="../static/css/material-icons.css" rel="stylesheet"
    th:href="@{/css/material-icons.css}">
	<link href="../static/css/details.css" rel="stylesheet" th:href="@{/css/details.css}">
	<link rel="stylesheet" href="../static/js/messenger/css/messenger.css" th:href="@{/js/messenger/css/messenger.css}">
    <link rel="stylesheet" href="../static/js/messenger/css/messenger-theme-flat.css" th:href="@{/js/messenger/css/messenger-theme-air.css}">
</head>

<body>
	<div class="container">
		<div data-v-6ddb54c6="" data-v-6ede48a3="" class="suspension-panel suspension-panel" id="dispaly_a">
			<a data-v-6ddb54c6="" title="回到顶部" class="btn to-top-btn display" id="display">
				<i class="material-icons">keyboard_arrow_up</i>
			</a>
		</div>
		<div class="row">
			<div class="col-md-12 nav-hky">
				<ul>
					<li>
						<a href="javascript:void(0);">首页</a>
					</li>
					<li>
						<a href="javascript:void(0);">文章详情</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12">
				<div class="back-hky">
					<div class="datail-body">
						<div class="detail-title">
							<div class="author">
								<div class="detail-title">
									<h1>关于IT培训机构的个人看法</h1>
								</div>
								<div style="margin-top: 15px;">
									<div class="img-div">
										<img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt="">
									</div>
									<a href="#">AAA</a>
									<span class="user-em">发布时间</span>
									<span>2017-03-04</span>
									<span class="user-em">来自</span>
									<span>网星客户端</span>
									<span class="user-em"></span>
									<span>公开分享</span>
								</div>
							</div>
							<!-- <p class="datail-notes">缘分与巧合，最近接触比较多的培训机构出来的人，</p> -->
							<!-- <hr> -->
						</div>
						<div class="datail-content">
							<h1>1.前言</h1>
							<p>
								缘分与巧合，最近接触比较多的培训机构出来的人，以及看过关于培训机构的文章和问答。虽然没在培训机构上过课，但是接触过很多培训机构出来的人，也看过一些培训机构的课程。关于培训机构，我也有自己的看法。经历了这些，我写了这篇文章，不吹不黑的写下我对培训机构的个人见解。这篇文章可能会有些争议，如果有不同的看法，大家可以评论，但是发言望大家理性，客观，不要人身攻击！
							</p>
							<blockquote>
								<p>
									<b>PS:</b>
									<br>
									<b>1.我是一个web前端开发者，接触的人也是web前端居多，所以下面文章，提到的培训机构可能主要是针对web前端的！</b>
									<br>
									<b>2.文章中，有小部分关于培训机构的内容，是我从朋友或者网友那里了解的，自己并没有亲身体会过，了解过，确定过。针对这种情况，在文中我会说明。</b>
								</p>
							</blockquote>
							<h1>2.语言部分</h1>
							<p>
								缘分与巧合，最近接触比较多的培训机构出来的人，以及看过关于培训机构的文章和问答。虽然没在培训机构上过课，但是接触过很多培训机构出来的人，也看过一些培训机构的课程。关于培训机构，我也有自己的看法。经历了这些，我写了这篇文章，不吹不黑的写下我对培训机构的个人见解。这篇文章可能会有些争议，如果有不同的看法，大家可以评论，但是发言望大家理性，客观，不要人身攻击！
							</p>
							<div>
								<pre><code>aa</code>
								</pre>
							</div>
							<div class="datail-img">
								<img src="../static/images/banner.jpg" th:src="@{/images/banner.jpg}" class="img-responsive">
							</div>
							<div class="end">
								<div class="hreat">
									<i class="material-icons">favorite</i>
									<span>111</span>
								</div>
								<div class="share">
									<i class="material-icons reply">insert_comment</i>
									<span>1112</span>
								</div>
							</div>
						</div>
						<div class="datail-pinluen">
							<div class="text-center datail-pinluen-titile">
								<h2>评论</h2>
							</div>
							<div class="datail-pinluen-body" style="margin-top: 30px;">
								<div class="datail-region" id="onlick">评论...</div>
								<div class="datail-form display" id="block">
									<form name="fm_info_cn" action="">
										<a href="#">
											<img class="userimage" alt="hhh" src="../static/images/ys.png" th:src="@{/images/ys.png}" height="28px" width="28px">
										</a>
										<div class="clearfix">
											<textarea class="form-control" rows="3" placeholder="发表评论..."></textarea>
											<div class="hky-margin">
												<button name="btn_comment_pub" class="btn btn-primary sendBtn" type="button">发布评论</button>
												<button class="Jformhide btn btn-default cancelBtn" type="button" id="none">取消</button>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="pinluen-body author" id="list">
								<!-- strat -->
								<div class="border-bottom" id="lista">
									<div class="img-div">
										<img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt="">
									</div>
									<a href="javascript:void();">夜桜下的楓</a>
									<p>
										说一说自己的经历吧，公司的HR也被我说过面试的太水了，一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自己公司的地址位置较远，但也不能不来也不说一下吧。我们公司的HR也挺好的，每次都在明天要面试了，今天就继续打电话问情况，结果不来..不来也不说。另外一点就是程序员现在入行门槛低了，一些人觉得自己找不到好工作，无论是不是喜欢这行，都往里面培训，很多都是被培训机构和学校骗的，说出来工作待遇多好。结果一问你为什么选择这样，几乎没人能回答....然后简历...先不说简历里面的内容，就问几个问题，框架，基础语法，MySQL语法，几乎答不出。一些基础好点的，就问他一些逻辑思路..例如淘宝的商品要如何设计数据库...一问全跪...只能说，现在从培训机构出来的人，很多很多都不知道他自己学的是什么东西...但也不排除有优秀的，公司的JAVA小哥就是培训机构出来的，项目一个人也能做...而且速度快，完整度高，质量还不错....
									</p>
									<div class="end end-end">
										<div class="hreat">
											<i class="material-icons">favorite</i>
											<span>111</span>
											<i class="material-icons margin-left">insert_comment</i>
											<span id="reply" class="reply">回复</span>
										</div>
									</div>
									<div class="input-display display_js" id="block-a">
										<div class="inner-input">
											<div class="pinluenqu">
												<i class="material-icons">extension</i>
												<h1>暂无评论</h1>
											</div>
											<div class="pinluen-input">
												<form action="#" class="">
													<div class="row">
														<div class="col-xs-11">
															<input type="text" class="form-control" placeholder="评论">
														</div>
														<div class="col-xs-1">
															<button class="btn btn-default" type="submit">发送</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- end -->
								<!-- strat -->
								<div class="border-bottom">
									<div class="img-div">
										<img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt="">
									</div>
									<a href="javascript:void();">夜桜下的楓</a>
									<p>
										说一说自己的经历吧，公司的HR也被我说过面试的太水了，一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自
									</p>
									<div class="end end-end">
										<div class="hreat">
											<i class="material-icons">favorite</i>
											<span>111</span>
											<i class="material-icons margin-left">insert_comment</i>
											<span id="reply">回复</span>
										</div>
									</div>
									<div class="input-display display_js" id="block-a">
										<div class="inner-input">
											<div class="pinluenqu">
												<i class="material-icons">extension</i>
												<h1>暂无评论</h1>
											</div>
											<div class="pinluen-input">
												<form action="#" class="">
													<div class="row">
														<div class="col-xs-11">
															<input type="text" class="form-control" placeholder="评论">
														</div>
														<div class="col-xs-1">
															<button class="btn btn-default" type="submit">发送</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- end -->
								<!-- strat -->
								<div class="border-bottom">
									<div class="img-div">
										<img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt="">
									</div>
									<a href="javascript:void();">夜桜下的楓</a>
									<p>
										说一说自己的经历吧，公司的HR也被我说过面试的太水了，一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自
									</p>
									<div class="end end-end">
										<div class="hreat">
											<i class="material-icons">favorite</i>
											<span>111</span>
											<i class="material-icons margin-left">insert_comment</i>
											<span id="reply">回复</span>
										</div>
									</div>
									<div class="input-display display_js" id="block-a">
										<div class="inner-input">
											<div class="pinluenqu">
												<i class="material-icons">extension</i>
												<h1>暂无评论</h1>
											</div>
											<div class="pinluen-input">
												<form action="#" class="">
													<div class="row">
														<div class="col-xs-11">
															<input type="text" class="form-control" placeholder="评论">
														</div>
														<div class="col-xs-1">
															<button class="btn btn-default" type="submit">发送</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- end -->
								<!-- strat -->
								<div class="border-bottom">
									<div class="img-div">
										<img src="../static/images/ys.png" th:src="@{/images/ys.png}" alt="">
									</div>
									<a href="javascript:void();">夜桜下的楓</a>
									<p>
										说一说自己的经历吧，公司的HR也被我说过面试的太水了，一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自一个什么不会的人也让我们来面试....面试最多的是JAVA和PHP，一开始觉得是自
									</p>
									<div class="end end-end">
										<div class="hreat">
											<i class="material-icons">favorite</i>
											<span>111</span>
											<i class="material-icons margin-left">insert_comment</i>
											<span id="reply">回复</span>
											<div data-v-7f6a837b="" class="sub-comment--arrow" style="display:none;" id="block-b"></div>
										</div>
									</div>
									<div class="input-display display_js" id="block-a">
										<div class="inner-input">
											<div class="pinluenqu">
												<i class="material-icons">extension</i>
												<h1>暂无评论</h1>
											</div>
											<div class="pinluen-input">
												<form action="#" class="">
													<div class="row">
														<div class="col-xs-11">
															<input type="text" class="form-control" placeholder="评论">
														</div>
														<div class="col-xs-1">
															<button class="btn btn-default" type="submit">发送</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../static/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
	<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/datail.js" th:src="@{/js/datail.js}"></script>
</body>

</html>