<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/x-icon" href="/images/ys2.png">
<title>发布 - NASA4</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
<link href="../static/css/material-icons.css" rel="stylesheet"
	th:href="@{/css/material-icons.css}">
<link href="../static/css/details.css" rel="stylesheet"
	th:href="@{/css/details.css}">
<link href="../static/js/editormd/css/editormd.min.css" rel="stylesheet"
	th:href="@{/js/editormd/css/editormd.min.css}" />
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="input-topp"></div>
			<div class="col-md-12 col-md-12 col-sm-12 col-xs-12 row_overside"
				style="margin-top: 12px;">
				<div class="card card_div_add">
					<div class="card_title">
						<!-- <img class="banner" src="../static/images/banner28.jpg" alt=""> -->
						<img class="banner" src="/images/banner5.jpeg" alt="封面图">
						<div class="detailMenu">
						</div>
						<img class="card_photo" src="/images/face14.png" alt="">
						<div class="title_title">
								<p class="title_Vice">用户</p>
							<p class="title_Vice_sm">公开分享-2017-2-27</p>
						</div>
					</div>
					<div class="card-block card_conetent">
						<input type="text" class="form-control" name="title"
							placeholder="输入标题"> <span class="help-block"
							data-error="title"></span>
					</div>

					<ul class="nav_add">
						<li id="down_xx" class="active_add">详情</li>
					</ul>

				</div>
				<div id="editormd">
					<textarea style="display: none;" name="content"></textarea>
				</div>
			</div>



			<div class="col-md-12 col-md-12 col-sm-12 col-xs-12 btn-sub">
				<button class="btn btn-success" id="note" type="button"
					name="submit">提交</button>
			</div>


		</div>
	</div>
	<footer class="footer_in_bottom">
      Copyright &copy; 2017 NASA4.com
      <ul class="f-menu">
        <li><a href="#">首页</a></li>
        <li><a href="#">隐私权</a></li>
        <li><a href="#">服务条款</a></li>
        <li><a href="#">发送反馈</a></li>
        <li><a href="#">常见问题</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">联系我们</a></li>
      </ul>
    </footer>

	<script src="../static/js/jquery-1.11.3.min.js"
		th:src="@{/js/jquery-1.11.3.min.js}"></script>
	<script src="../static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>
	<script src="../static/js/editormd/editormd.min.js"
		th:src="@{/js/editormd/editormd.min.js}"></script>
	<script src="../static/js/jquery.session.js"
		th:src="@{/js/jquery.session.js}"></script>
	<script src="../static/js/messenger/js/messenger.min.js"
		th:src="@{/js/messenger/js/messenger.min.js}"></script>
	<script src="../static/js/messenger/js/messenger-theme-flat.js"
		th:src="@{/js/messenger/js/messenger-theme-flat.js}"></script>
	<script src="../static/js/sweetalert.min.js"
		th:src="@{/js/sweetalert.min.js}"></script>
	<script src="../static/js/base.js" th:src="@{/js/base.js}"></script>
	<script type="text/javascript">
		var testEditor;

		$(function() {
			testEditor = editormd("editormd", {
				width : "100%",
				height : 640,
				syncScrolling : "single",
				path : "/js/editormd/lib/"
			});

			$(document).on("click", "#note", function(e) {
				var title = $("[name=title]").val();
				var content = $("[name=content]").val();
				$.session.set("draftTitle", title);
				$.session.set("draftContent", content);
			})

			$(document).ready(function(e) {
				$("[name=title]").val($.session.get("draftTitle"));
				$("[name=content]").val($.session.get("draftContent"));
				$.session.remove("draftTitle");
				$.session.remove("draftContent");
			})
		});
	</script>
</body>

</html>